@import url("./chat.css");
@import url("./patient-chat-messages.css");

.container {
    padding: 2.5em 5em; 
    height: 100%;
}

.title {
    border-bottom: 0.5px solid var(--purple-200);
    padding: 0 0 0.35em;
    letter-spacing: 1px;
}

/* TOPICS SELECTION STYLES */

.choose-topic {
    display: none;
}

.topic {
    display: block;
    padding: 1.7em 1em;
    background-color: var(--white-250);
    background-image: linear-gradient(30deg, var(--white-250), rgba(97, 95, 228, 0.329));
    margin-bottom: 1em;
    color: black;
    transition: all 300ms;
    max-width: 300px;
    border-radius: 5px;
}

.topic:hover,
.topic:focus {
    box-shadow: 0px 0px 2.5px 0px var(--purple-300);
}

/* IN A CATEGORY STYLES */

.in-categorie {
    display: none;
}

.add-cat-subject {
    font-size: var(--dst-txt);
    color: rgba(0, 0, 234, 0.992);
    letter-spacing: 2px;
    transition: all 300s;
    transform: scaleY(0.7);
}

.add-cat-subject .left-arrow,
.topic .left-arrow {
    margin-left: 0;
    transition: margin-left 300ms;
}

.add-cat-subject:hover .left-arrow,
.add-cat-subject:focus .left-arrow,
.topic:hover .left-arrow,
.topic:focus .left-arrow {
    margin-left: 5px;
}

.in-categorie .topics-container.flex-row {
    gap: 1em;
    flex-wrap: wrap;
    overflow-x: hidden;
    overflow-y: auto;
    max-height: 500px;
}

.title-prev {
    border-bottom: 1px ;
    opacity: 0.75;
    font-size: 1.5rem;
    letter-spacing: 1px;
    border-bottom: 1px solid var(--purple-200);
    padding-bottom: 0.5em;
    width: fit-content;
}

.cat-topic {
    flex-basis: 30%;
}


/* IN A SUBJECT AREA */

.messages-area {
    max-height: 370px;
    overflow-y: auto;
    overflow-x: hidden;
}

.msg-pat-container {
    align-self: flex-start;
    border-radius: 100px;
    border-bottom-left-radius: 0;
}

.msg-pat {
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 100px;
}

.pat-msg-date{
    align-self: flex-start;
}